@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

#root{
   background-color:  #5a667f;
}

.custom-card-image .card.image-full:before{
   border-radius: 0.5rem;
   opacity: 0.45;
}



.stats{
    background-color: #5a667f;
   
}